
@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css";

body{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
    background-image: url("BingWallpaper\ \(5\).jpg");
    background-repeat: no-repeat;
    flex-wrap: wrap;
    
}

p{
    color: #46b94a;
}
h2.heading{
    display: inline-block;
    color: #46b94a;
    transition-duration:2s;
}

.heading{

    transition:3s;
    
}
.sing-in{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

}

h1{
    text-decoration: underline;
    color: #46b94a;
    font-size: 30px;
}

.input1{
    margin-bottom: 15px;
}

.input2{
    margin-top: 15px;
}

.input1 input{
   border: none;
   background: none;
   border-bottom: 2px solid #46b94a;
   padding: 0 8px;
}


.input2 input{
    border: none;
    background: none;
    border-bottom: 2px solid #46b94a;
    padding: 0 8px;
}

.input1 i{
    color: white;
    text-align: center;
    float: left;
    width: 10;
   
    
    
}


.input2 i{
    color: white;
    text-align: center;
    float: left;
    width: 10;
    
    
}


.btn input{
    margin-top:15px;
    margin-left: 30px;
    width: 120px;
    height: 25px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.btn input{
    background-color: rgb(48 234 45);

}
 
i{
    padding: 0 10px;
}

input:focus{
    background-color: #46b94a;
    font-size: 1rem;
    height: 35px;
    transition: .5s;
    outline: none;
    border-radius: 10px;
}



@media screen and (min-width:750px) {
    .btn input{
        background-color: #303bc5;
        color:#FAFAFF;
        left: 50%;
    }

    .input1 i{
        color: rgb(0 0 0);
    }

    .input2 i{
        color: rgb(0 0 0);
    }

    h1{
        color: #303bc5;
    }

    .input2 input{
        border: none;
        background: none;
        border-bottom: 2px solid #46b94a ;
        padding: 0 8px;
        
    }

    ::-webkit-input-placeholder{
        color: white;
        font-size: 15px;
    }

     .input2 input:focus{
       background-color: #46b94a;
    }
}